[user]
	name = Urbain Vaes
	email = urbain@vaes.uk
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[push]
	default = simple
[status]
	submodulesummary = 1
[alias]
    yolo = !git commit -am "Update" && git push origin master
[core]
	fileMode = false
[http]
	sslverify = false
