[user]
	name = Urbain Vaes
	email = urbain.p.vaes@gmail.com
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[push]
	default = simple
[status]
	submodulesummary = 1
[alias]
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
