[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".zsh/zgen"]
	path = .zsh/zgen
	url = https://github.com/tarjoilija/zgen
[submodule ".tmux/tpm"]
	path = .tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".mutt/solarized"]
	path = .mutt/solarized
	url = https://github.com/altercation/mutt-colors-solarized
[submodule ".urxvt/ext"]
	path = .urxvt/ext
	url = https://github.com/muennich/urxvt-perls
[submodule ".passwords"]
	path = .passwords
	url = git@github.com:uvaes/passwords
[submodule ".personal"]
	path = .personal
	url = git@github.com:uvaes/personal
