.mutt/attachments/*
.mutt/cache/
.mutt/cache/headers
.mutt/mailboxes/
.mutt/mutt-colors-solarized/
.mutt/solarized
.mutt/temp/
.nvim/.netrwhist
.passwords
.personal
.urxvt/ext
.vifm/Trash
.vifm/vifminfo
.vifm/vimfiles
.vim/.netrwhist
.vim/netrwhist
.vim/plugged/
.vim/vim-plug
.vim/vimundo/
.zsh/zgen
.zsh/tmp

!*.gitkeep
