mutt/cache/
mutt/mailboxes/
vim/vimundo/*
vim/bundle/
nvim/plugged/
nvim/vim-plug/
nvim/vimundo/
vifm/Trash
vifm/vimfiles
vifm/vifminfo
mutt/mutt-colors-solarized/
mutt/temp/
mutt/cache/
mutt/cache/headers
