mutt/cache/
mutt/cache/
mutt/cache/headers
mutt/mailboxes/
mutt/mutt-colors-solarized/
mutt/temp/
newsbeuter
vim/netrwhist
vim/autoload/
vim/plugged/
vim/vim-plug/
vim/vimundo/
vifm/Trash
vifm/vifminfo
vifm/vimfiles
nvim/.netrwhist
