*/5 * * * * /usr/bin/r2e run
*/5 * * * * /home/urbain/bin/email >> /home/urbain/.cron_email_log
*/5 * * * * /usr/bin/vdirsyncer sync >> /home/urbain/.cron_calendar_log
0   * * * * cd /home/urbain/ && /usr/bin/mr update && /usr/bin/mr push
