snippet best "Best wishes" b
Best wishes,

Urbain
endsnippet

snippet dear "Email template" b
Dear ${1:Greg},

${2:# Body of the message}

Best wishes,

${3:Urbain}
endsnippet

snippet sign "Signature" b
Urbain Vaes,
Department of Mathematics
Office 6M09
endsnippet

snippet bisous "Gros bisous" b
Gros bisous,

Urbain
endsnippet
