snippet sumi "Sum over index set" i
\sum_{${1:i} \in ${2:I}} $0
endsnippet

snippet ip "Inner product" i
\left \langle $1, $2 \right \rangle $0
endsnippet

snippet real "Real numbers" i
\mathbb R
endsnippet
